<!DOCTYPE html>
<html lang="en">
<head>
    <title>Copy Editor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/images/home_thumbnail.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="workshop-panel">
        <div class="topleft-panel" style="padding-left:25px;">
            <span class="icon-wrapper">
                <img id="revert-changes-icon" class="render-icon" src="/static/images/revert_icon.png">
                <div class="tool-tip">Revert to original edits</div>
            </span>
        </div>
        
        <div class="exit-buttons">
            <span id="reject-remaining-wrapper" class="icon-wrapper"><img id="reject-remaining-icon" class="render-icon" src="/static/images/reject_remaining_icon.png">
                <div class="tool-tip">Reject remaining changes</div>
            </span>
            <span id="accept-remaining-wrapper" class="icon-wrapper"><img id="accept-remaining-icon" class="render-icon" src="/static/images/accept_remaining_icon.png">
                <div class="tool-tip">Accept remaining changes</div>
            </span>
            <span id="exit-wrapper" class="icon-wrapper"><img id="exit-icon" class="render-icon" src="/static/images/x_empty.png">
                <div class="tool-tip">Save changes and exit</div>
            </span>
        </div>
        <div style="display:inline">
            <div class="workshop-accept-buttons">
                <button id="reject-button" class="btn btn-danger" style="margin-right:50px;">Reject Selected Change ⛔</button>
                <button id="accept-button" class="btn btn-success">Accept Selected Change ✓</button>
            </div>
            <div class="jump-buttons" style="text-align:right; font-size:20px; margin: 10px 50px;">
                <button class="btn btn-primary">Next change <img src="/static/images/next_icon.png" style="width:8px;"></button>
            </div>
        </div>
    </div>

    <div class="page-content" style="margin-top:100px;">
        <!-- must have page title so that "article_id is stored in js" -->
        <div class="page-title" article-id="{{article_id}}"></div>

        <div class="article">
            <p>{{text | safe}}</p>
        </div>
    </div>
    <script src="/static/js/workshop_render.js"></script>
</body>


    
